[core]
	editor = vim

[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret

[pull]
	rebase = true

[rebase]
	autoStash = true

[user]
	email = tobias.kolditz@docyet.com
	name = Tobias Kolditz

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	hist = log --pretty=format:'%h %Cblue%ad %Creset%s%d %Cred[%an]' --date=short --graph
	cp = cherry-pick
	s = status -s
	sb = submodule

[merge "ours"]
	driver = true

[commit]
	template = ~/.gitmessage
